<p>Dear <b>{{ email }}</b>,</p>
<p>
    You should manage problem with Your website
</p>
<h2><a href="{{ urlSecond }}">{{ urlSecond }}</a></h2>
<p>
    We notice, that Your website loading in very very slow time;
    It could be not enough for You visitiors.
    But we can help You and find some solution for You.
</p>

<p>
    <a href="https://xsolve.software/">
        Contact with our company, for get more details.
    </a>
</p>