{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Show the cards!<br />
                        Give me Your speed!</h1>
                        <div class="form-appears">
                            <form name="form_url" method="POST">
                                {{ form_start(form) }}
                                <div class="col-lg-5">
                                    {{ form_widget(form) }}
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                        <div class="result-section">
                            {% if showResult != null %}
                                <table>
                                    <tr>
                                        <td>execution time for first website: </td><td>{{ showResult.timeFirst }}</td>
                                    </tr>
                                    <tr>
                                        <td>execution time for second website:  </td><td>{{ showResult.timeSecond }}</td>
                                    </tr>
                                    <tr>
                                        <td>different: </td><td>{{ showResult.difference }}</td>
                                    </tr>
                                    <tr>
                                        <td>comment: </td><td>{{ showResult.comment }}</td>
                                    </tr>
                                    <tr>
                                        <td>datetime: </td><td>{{ showResult.dateTime|date('Y-m-d H:i:s') }}</td>
                                    </tr>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">

                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}